body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: #F0F0F0; /* initial background color */
    animation: fade 10s ease-in-out infinite;
}
  
  @keyframes fade {
    0% {
      background-color: #F0F0F0;
    }
    50% {
      background-color: #4CAF50; /* blue */
    }
    100% {
      background-color: #F0F0F0;
    }
}

#javascript_title {
    width: 100%; /* The width of the title */
    overflow: hidden; /* Hides the text that goes beyond the width */
    border-right: 0.15em solid #000000; /* The right border of the title */
    white-space: nowrap; /* The title will stay on one line */
    animation: typing 5s;
}
  
  /* The animation */
  @keyframes typing {
    from { width: 0% }
    to { width: 100% }
}
  
  /* The blink caret */
  @keyframes blink-caret {
    /*from, to { border-color: transparent }*/
    50% { border-right: none } ;
    
}


  #maDiv {
    margin: 20px 0;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    transition: opacity 0.5s;
    opacity: 1;
  }
  
  button {
    padding: 10px 20px;
    border-radius: 10px;
    margin: 0 10px;
    background-color: #4CAF50; /* Green */
    color: white;
    border: none;
    cursor: pointer;

  }
  
  button:hover {
    background-color: #3e8e41;
  }

/*Animation*/

#maDiv {
    margin: 20px 0;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    opacity: 1;
    transition: opacity 0.5s;
  }
  
  .hidden {
    opacity: 0;
  }
  
  button {
    padding: 10px 20px;
    border-radius: 10px;
    margin: 0 10px;
    background-color: #4CAF50; /* Green */
    color: white;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #3e8e41;
  }
